.label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
    max-width: 300px;
    margin-bottom: 16px;
}

.input {
    margin-top: 4px;
    padding: 6px 8px;
    font-size: 14px;
}